<!DOCTYPE html>
<html>
<body style="background-image:url(/images/sunset.jpg); 
       background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;">

       
        <div phone_container>
       <div class="phone_photo"></div>

        <div class="phone_text">
          <h1>Rondevu</h1>
          <p class="lead">There's always something to do</p>
          <br><br><br><br><br><br>
        </div> <!-- /container full -->
        </div>
</body>
</html>